/* sass --watch style.scss:style.css */

#intro {
  background: url("../intro/bg.jpg");
  background-position: center !important;
  background-size: cover !important;

  min-height: 100vh !important;

  .my-info {
    background-color: rgba(0, 0, 0, .7);
  }
}

a {
  text-decoration: none !important;
}