/* sass --watch style.scss:style.css */

.container-md {
  max-width: 960px;
}

body {
  font-family: "Inter", sans-serif !important;
}

#intro {
  background: url("../intro/bg.jpg");
  background-position: center !important;
  background-size: cover !important;

  .bg-trans {
    background-color: rgba(0, 0, 0, .7);
  }

  a {
    &:link, &:visited, &:active {
      color: white;
    }

    &:hover {
      color: lightskyblue;
    }
  }
}

#about {
  #articles {
    img {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    img:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

#publications {
  .badge {
    font-size: 0.6rem;
  }

  .btn-sm {
    font-size: 0.75rem;
  }
}


h1.section-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 180px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 90px);
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 30px);
  }
}
